/*==================
    VARIABLES
====================*/

:root {
    --white-color: #fff;
    --header-bg-color: #FD3535;
    --controls-buttons-color: #FD3535;
    --control-shadow-color: rgb(253,53,53,1);
}

/*==================
    COMMON STYLES
====================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 62.5%; 
}

body {
    font-size: 1.4rem;
    font-family: sans-serif;
    user-select: none;
}

/*==================
    SLIDE
====================*/

.slide {
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 3rem;
    box-sizing: border-box;
}

/*==================
    HEADER TITLE
====================*/

.header .header__title {
    background-color: var(--header-bg-color);
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-color);
    padding: 2rem;
    position: relative;
}

.header .header__title::after {
    content: '';
    width: 160px;
    height: 100px;
    position: absolute;
    background-image: url(../assets/logos/sistemas_de_gestion.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    right: 0;
    top: 0px;
}

.header {
    position: relative;
    z-index: 1;
}

.header::after {
    content: '';
    width: 160px;
    height: 70px;
    position: absolute;
    background-image: url(../assets/logos/final_tabasco.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    margin-top: 10px;
}

.header::before {
    content: '';
    width: 160px;
    height: 50px;
    position: absolute;
    background-image: url(../assets/logos/carso.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 0;
    margin-top: 90px;
    margin-left: 0px;
}


/*==================
    CONTROLS
====================*/

.controls {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.controls .media {
    display: flex;
}

.controls .btn {
    user-select: none;
    font-size: 3.2rem;
    color: var(--white-color);
    background: var(--controls-buttons-color);
    margin: 0px 2rem;
    transition: all ease .3s;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.controls .btn-hide {
    opacity: 0;
    visibility: hidden;
}


.controls .btn:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 24px -5px var(--control-shadow-color);
    -moz-box-shadow: 0px 0px 24px -5px var(--control-shadow-color);
    box-shadow: 0px 0px 24px -5px var(--control-shadow-color);
}

.controls .btn-rounded {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.controls .btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-top-right-radius: 60px;
}

.controls .btn-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-top-left-radius: 60px;
}

.controls .btn-next i, .btn-prev i{
    font-size: 5rem;
}


/*==================
    BODY
====================*/

.body {
    overflow: hidden;
    display: block;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.body .hide, .slide.hide {
    display: none;
}

.body .show {
    display: block;
}

.btn-play.hide {
   display: none;
}

/*=====================
MODAL
====================*/

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
}

.modal-content {
    width: 80%;
    height: 80%;
    border: 10px solid var(--controls-buttons-color);
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.modal-content .close-button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 5rem;
    color: var(--controls-buttons-color);
    cursor: pointer;
    transition: all ease .5s;
    border-radius: 50%;
}

.modal-content .close-button:hover {
    transform: scale(1.1);
}

.modal.hide, .modal-body.hide {
    display: none;
}

.modal-body img {
    width: 100%;
}


/*=====================
BUTTON CHECK
====================*/
.btn-check {
    position: relative;
}

.btn-check::before {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    position: absolute;
    font-size: 3.8rem;
    right: 0;
    bottom: 0;
    margin-right: -30px;
    margin-bottom: -10px;
    color: var(--controls-buttons-color);
    opacity: 0;
    visibility: hidden;
}

.btn-check__left::before {
    left: 0 !important;
    top: 0 !important;
    right: auto;
    bottom: auto;
}

.btn-check__show::before {
    opacity: 1;
    visibility: visible;
}

.btn-check__white::before {
    color: #fff;
}


/*=====================
CONTENT DESCRIPTION
====================*/
.content-description {
    margin: 3rem 0;
    font-size: 3rem;
    text-align: center;
}

.content-description.cursive {
    font-style: italic;
}

.content-description.bold {
    font-weight: 700;
}

.content-description.small {
    font-size: 2.4rem;
}

.content-description.justify {
    text-align: justify;
}

/*=====================
BUTTONS GROUP
====================*/

.buttons-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons-group div {
    position: relative;
    background-color: green;
    color: #fff;
    min-width: 30rem;
    padding: 2rem;
    margin: 1rem;
    font-size: 3rem;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    opacity: .8;
    transition: opacity .2s ease;
}

.buttons-group div:hover {
    opacity: 1;
}

.buttons-group.two-row-button {
    max-width: 700px;
    margin: 0 auto;
}

.buttons-group.two-row-button div {
    margin-bottom: 3rem;
}

.two-row-content {
    display: flex;
}

.two-row-content div {
    width: 50%;
}

.two-row-content .menu-buttons {
    width: 100%;
    padding-left: 2rem;
}

.buttons-group.width-sm div{
    min-width: 10rem;
}

.buttons-group.width-xs div{
    min-width: 8rem;
    font-size: 2rem;
}

.buttons-group.size-lg div {
    font-size: 5rem;
}

/*=====================
MEDIA QUERIES - RESPOSIVE
====================*/



@media (max-width: 1600px) {
    .header .header__title::after {
        width: 160px;
        height: 100px;
        right: 0;
        top: 0px;
    }
    
    .header::after {
        top: 0;
        margin-top: 10px;
    }
    
    .header::before {
        width: 90px;
        height: 50px;
        left: 0;
        margin-top: 80px;
        margin-left: 0px;
    }

    .controls .btn {
        font-size: 2rem;
        margin: 0px 1rem;
       
    }

    .controls .btn-next, .controls .btn-prev  {
        padding: 1.4rem;
    }

    .controls .btn-next i, .btn-prev i{
        font-size: 4rem;
    }
  
    .controls .btn-rounded {
        width: 7rem;
        height: 7rem;
    }
    
}


@media (max-width: 1150px) {
    html { 
        font-size: 55.5%; 
    }

    .header .header__title {
        font-size: 1.8rem;
    }

    .header .header__title::after {
        width: 120px;
        height: 65px;
        right: 0;
        top: 0px;
    }
    
    .header::after {
        top: 0;
        margin-top: 0px;
        width: 100px;
        height: 60px;
    }
    
    .header::before {
        width: 70px;
        height: 40px;
        left: 0;
        margin-top: 55px;
        margin-left: 0px;
    }
}

@media (max-width: 850px) {
    .slide { 
        padding: 1rem;
    }

    html { 
        font-size: 52.5%; 
    }

    .header .header__title {
        font-size: 1.6rem;
    }

    .controls .btn {
        font-size: 2rem;
    }

    .controls .btn-next, .controls .btn-prev {
        padding: 1.4rem;
        border-radius: 0;
    }

    .controls .btn-next i, .btn-prev i{
        font-size: 3rem;
    }

    .controls .btn-rounded {
        width: 6rem;
        height: 6rem;
    }

    .modal-content {
        width: 100%;
        height: 100%;
        border: 4px solid var(--controls-buttons-color);
        margin: 5px;
        background-color: #fff;
    }
    
    .btn-check::before {
        font-size: 3rem;
        margin-right: -20px;
        margin-bottom: -10px;
    }

    .content-description {
        margin: 2rem 0;
        font-size: 2rem;
        text-align: center;
    }
    
  
    .content-description.small {
        font-size: 1.6rem;
    }

    .buttons-group div {
        font-size: 1.8rem;
    }

    .buttons-group.width-sm div{
        min-width: 8rem;
    }

    .buttons-group.width-xs div{
        font-size: 1.6rem;
    }

    .buttons-group.size-lg div {
        font-size: 3rem;
    }

    .header .header__title::after {
        width: 100px;
        height: 60px;
        right: 0;
        top: 0px;
    }
    
    .header::after {
        top: 0;
        width: 100px;
        height: 60px;
    }
    
    .header::before {
        width: 60px;
        height: 40px;
        left: 0;
        margin-top: 50px;
        margin-left: 0px;
    }

}

@media (max-width: 600px) {
    .header .header__title {
        font-size: 1rem;
    }

    .controls .btn {
        font-size: 1.6rem;
    }

    .controls .btn-next, .controls .btn-prev {
        padding: .5rem;
    }

    .controls .btn-rounded {
        width: 4rem;
        height: 4rem;
    }

    .modal-content .close-button {
        font-size: 3rem;
    }

    .buttons-group.two-row-button div {
        margin-bottom: 1rem;
    }

    .header .header__title::after {
        width: 80px;
        height: 50px;
        right: 0;
        top: 0px;
    }
    
    .header::after {
        top: 0;
        width: 80px;
        height: 50px;
    }
    
    .header::before {
        width: 50px;
        height: 30px;
        left: 0;
        margin-top: 40px;
        margin-left: 0px;
    }
}


@media (max-width: 500px) {
    .header .header__title {
        font-size: .9rem;
    }


    .header .header__title::after {
        width: 35px;
        height: 50px;
        right: 0;
        top: 0px;
    }
    
    .header::after {
        top: 0;
        width: 50px;
        height: 50px;
    }
    
    .header::before {
        width: 30px;
        height: 30px;
        left: 0;
        margin-top: 36px;
        margin-left: 0px;
    }
}
