:root {
    --menu-button-color: #00A83F;
}

.main-screen {
    display: flex;
}

.main-screen .marco-image {
   width: 45%;
}

.main-screen .marco-image img{
    width: 100%;
}

.menu-buttons {
    width: 78%;
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
    padding-top: 5rem;
}

.menu-buttons a {
    background-color: var(--menu-button-color);
    color: #fff;
    margin: 10rem;
    margin-right: 5rem;
    max-width: 40rem;
    max-height: 10rem;
    height: 10rem;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease .3s;
    opacity: .8;
}

.menu-buttons a i {
    font-size: 4rem;
    margin-right: 10px;
}

.menu-buttons a:hover {
    transform: scale(1.1);
    opacity: 1;
}

.sl {
    text-align: center;
}

.sl img {
    width: 100%;
    margin-top: 1rem;
}

@media (max-width: 1150px) {}

@media (max-width: 850px) {
    .menu-buttons a {
        font-size: 1.8rem;
        max-width: 35rem;
        max-height: 8rem;
        height: 8rem;
    }
    
    .menu-buttons a i {
        font-size: 3rem;
        margin-right: 10px;
    }
}

@media (max-width: 650px) {
    .menu-buttons {
        padding-left: 1rem;
        padding-top: 1rem;
        width: 70%;

    }

    .menu-buttons a {
        font-size: 1.4rem;
        max-width: 22rem;
        max-height: 6rem;
        height: 8rem;
    }
    
    .menu-buttons a i {
        font-size: 2rem;
        margin-right: 5px;
    }

    .main-screen .marco-image {
        width: 30%;
     }
}
