/*=====TEST IMAGE=====*/

#slide1 .body img , #slide2 .body img {
    width: 100%;
}


/*=====TEST circle options=====*/
.button-menu-content {
    width: 100%;
    display: flex;
}

.button-menu-content .content-left {
    width: 30%;
}

.button-menu-content .content-left img {
    height: 80vh;
}

.button-menu-content .content-right {
    width: 70%;
}

.button-menu-content .content-buttons {
    display: flex;
    flex-wrap: wrap;
}

.button-menu-content .content-description {
    margin: 3rem 0;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

.button-menu-content .content-buttons div {
    width: 20rem;
    opacity: .7;
    cursor: pointer;
    transition: all ease .3s;
}

.button-menu-content .content-buttons div img {
    width: 100%;
}

.button-menu-content .content-buttons div:hover {
    opacity: 1;
    transform: scale(1.1);
}